@page "/"

<PageTitle>Home</PageTitle>

<main>
	<section class="desc">
		<h2>Description</h2>
		<p>This is a system for managing clubs and their associated employees within an organization. It includes functionalities for searching and displaying clubs based on their active status, and performing create, read, update, and deactivate operations on club records.</p>
	</section>

	<section class="container">
		<div class="info">
			<div>
				<h2>Styling</h2>
				<ul>
					<li>HTML, CSS and MudBlazor</li>
				</ul>
			</div>

			<div>
				<h2 class ="credits">Credits and Attributions</h2>
				<ul>
					<li>Image from <a href="https://www.uhdpaper.com/2022/11/abstract-colorful-background-4k-4770h.html" target="_blank">uhdpaper.com</a></li>
				</ul>
			</div>
		</div>

		<img src="/images/A02.png" alt="ERD for Scenario A02" />
	</section>
</main>